# Logs
logs
*.log
npm-debug.log*

# Build and dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment variables
.env
.env.*
!.env.example
